* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
  font-family: "Oswald", sans-serif;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  color: white;
  background-image: url("/images/bg.jpg");
  height: 700px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 300px;
}

.header__top {
  display: flex;
  padding-top: 47px;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.phone {
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__title {
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 105px;
}

.header__subtitle {
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__text {
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  margin-top: 30px;
}

.header__btn {
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 55px;
  background-color: #5a0d67;
  border: 1px solid #5a0d67;
  cursor: pointer;
  margin-top: 30px;
  color: white;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.header__btn:hover {
  border: 1px solid #5a0d67;
  color: #5a0d67;
  background-color: white;
}

.header__social {
  margin: 70px 0 0 45px;
  display: flex;
}

.header__social-link {
  margin-right: 10px;
}

.header-img {
  margin-left: 365px;
  margin-top: -146px;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #21062a;
  position: relative;
}

.service {
  margin-bottom: 100px;
}

.title::after {
  margin-left: 15px;
  margin-top: 20px;
  content: "";
  width: 80px;
  height: 3px;
  background-color: black;
  position: absolute;
}

.service__inner {
  display: flex;
}

.service__left {
  max-width: 500px;
  margin-right: 100px;
}

.subtitle {
  color: #5a0d67;
  margin-bottom: 12px;
  font-weight: 300;
}

.service__text + .service__text {
  margin-top: 12px;
}

.service__text + .subtitle {
  margin-top: 70px;
}

.action {
  position: relative;
}

.action::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: grey;
  margin-left: 50px;
  top: 50%;
}

.action::before {
  content: "PRESS";
  position: absolute;
  color: grey;
  margin-left: 250px;
  top: 33%;
}

.service__list {
  list-style: none;
  counter-reset: my-counter;
}

.service__item {
  counter-increment: my-counter;
  border: 2px solid grey;
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 15px 10px 115px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.service__item::before {
  content: "0" counter(my-counter);
  position: absolute;
  left: 40px;
  rotate: -90deg;
  top: 15px;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #c4c4c4;
  transition: all 0.5s;
}

.service__item-title {
  color: #2c2b2b;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.service__item-text {
  color: #2c2b2b;
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.service__item:hover {
  border: 2px solid #5a0d67;
  width: 500px;
}
.service__item:hover .service__item-title {
  color: #5a0d67;
}
.service__item:hover .service__item-text {
  color: black;
}
.service__item:hover::before {
  color: #5a0d67;
}

.why {
  margin-bottom: 100px;
}

.why__inner {
  display: flex;
}

.why__img {
  margin-right: 100px;
}

.title-why {
  margin-left: 185px;
  margin-bottom: 50px;
}

.why-content {
  width: 780px;
  height: 500px;
  background-color: #21062a;
}

.why__container {
  margin-left: 185px;
  color: white;
  padding-top: 25px;
}

.why__item {
  width: 325px;
  margin-bottom: 20px;
}

.why__title {
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.why__subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.why__text {
  color: #c4c4c4;
}

.carousel {
  margin-bottom: 100px;
}

/* .carousel__inner {
  display: flex;
  gap: 14px;
} */

.carousel__item {
  margin: 0 -7px;
}

.carousel__item-box {
  padding: 4px 4px 15px 4px;
  border: 1px solid #c4c4c4;
  text-align: center;
  margin: 0 7px;
  transition: all 0.8s;
}

.carousel__img {
  width: 100%;
}

.carousel__title {
  color: #2c2b2b;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 25px;
}

.carousel__subtitle {
  font-weight: 300;
  color: #2c2b2b;
}

.carousel__item-box:hover {
  background-color: #5a0d67;
  border: 1px solid #5a0d67;
}

.carousel__item-box:hover .carousel__subtitle,
.carousel__item-box:hover .carousel__title {
  color: white;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.slick-dots button {
  font-size: 0;
  border: none;
  background-color: #c4c4c4;
  margin: 0 10px;
  width: 50px;
}

.slick-active button {
  background-color: #5a0d67;
  height: 3px;
}

.contacts__title {
  margin-top: 50px;
  color: #5a0d67;
}

.contacts__text + .contacts__title {
  margin-top: 20px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__form {
  color: white;
  width: 600px;
  height: 466px;
  background-color: #21062a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  color: white;
  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: 16px;
}

.form__title::after {
  background-color: #fff;
}

input {
  width: 450px;
  height: 75px;
  text-align: center;
  border: 1px solid white;
  background-color: transparent;
  margin-bottom: 12px;
  outline: none;
  color: white;
}

input::placeholder {
  color: #c4c4c4;
}

.form__btn {
  margin-top: 75px;
}
