* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
  font-family: "Oswald", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  color: white;
  background-image: url("/images/bg.jpg");
  height: 700px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  padding-top: 47px;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.phone {
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__title {
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 105px;
}

.header__subtitle {
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__text {
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  margin-top: 30px;
}

.header__btn {
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding: 15px 55px;
  background-color: #5a0d67;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  color: white;
  margin-bottom: 70px;
}

.header__social {
  margin-left: 35px;
}

.header__social-link {
  margin-right: 5px;
}

.header-img {
  margin-left: 365px;
  margin-top: -146px;
}
